{% extends '_private.html' %}
{% from '_helpers.html' import render_pagination, card_count, link_button %}

{% block content %}
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h2>{{ _('Messages') }}</h2>
        {{ link_button(_('New'), url_for('message.new'), 'envelope', 'warning') }}
    </div>
    <div class="card-body pb-0">
        <table class="table">
            <thead class="bg-light">
                <tr>
                    <th scope="col">{{ _('Date') }}</th>
                    <th scope="col">{{ _('Subject') }}</th>
                    <th scope="col">{{ _('From') }}</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="align-middle">
                <tr>
                    <td>1.1.2020</td>
                    <td><b>some random message</b></td>
                    <td><a href="{{ url_for('user.profile', id=1) }}">Some User</a></td>
                    <td class="text-end">
                        {{ link_button(_('Show'), url_for('message.show', id=0), 'eye', 'success') }}
                        {{ link_button(_('Delete'), url_for('message.delete', id=0), 'trash', 'danger') }}
                    </td>
                </tr>
                <tr>
                    <td>2.1.2020</td>
                    <td>some random message</td>
                    <td><a href="{{ url_for('user.profile', id=1) }}">Some User</a></td>
                    <td class="text-end">
                        {{ link_button(_('Show'), url_for('message.show', id=0), 'eye', 'success') }}
                        {{ link_button(_('Delete'), url_for('message.delete', id=0), 'trash', 'danger') }}
                    </td>
                </tr>
            </tbody>
        </table>

        {{ render_pagination() }}
    </div>
</div>

{% endblock %}
