{% set title=thread.subject %}
{% extends '_private.html' %}
{% from "_helpers.html" import render_field %}

{% block content %}
{% if thread.sender == current_user %}
    {% set user=thread.recipient %}
{% else %}
    {% set user=thread.sender %}
{% endif %}
<div class="card content-card">
    <div class="card-header">{{ user }}: {{ title }}</div>

    <div class="list-group list-group-flush">
        <div class="list-group-item">
            <form class="form" method="POST" action="" role="form">
                {{ form.hidden_tag() }}
                {{ render_field(form.message, 'pencil', placeholder=_('Your response')) }}
                <div class="text-end mt-2">
                    {{ form.submit(class="btn btn-success") }}
                </div>
            </form>
        </div>

        {% for message in thread.messages %}
        <div class="list-group-item bg-{{ 'body' if message.user == current_user else 'light' }}">
            <div class="d-flex w-100 justify-content-between">
                <strong>{{ message.user }}</strong>
                <small>{{ moment(message.timestamp).fromNow() }}</small>
            </div>
            <p class="mb-0">{{ message.message }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
