flask==2.0.1
wtforms>=3.0.0
flask-wtf==1.0.0
flask-sqlalchemy
mysqlclient
flask-babel
flask-login
flask-bcrypt
flask-misaka
flask-migrate
flask-mail
flask-moment
python-dotenv
pyjwt
gunicorn
is_safe_url
email-validator
datetime
uuid
