<div class="card content-card">
    <div class="card-header">
        {{ _('Metadata') }}
    </div>
    {% if location.photo %}
    <a href="{{ Url.get('upload.get', path=location.photo.path) }}" class="gallery">
        <img class="card-img-top" src="{{ Url.get('upload.get', path=location.photo.thumbnail) }}" alt="Location title image">
    </a>
    {% else %}
    <img class="card-img-top" src="{{ Url.get('static', filename='images/favicon.ico') }}" alt="Location title image">
    {% endif %}
    <div class="card-body">
        {{ _('Created') }}: {{ location.created.date() }}<br>
        {{ _('Last updated') }}: {{ location.modified.date() }}<br>
        {{ _('Maintainer') }}: <a href="{{ Url.get('user.profile', user_id=location.owner_id) }}">{{ location.owner }}</a><br>

        {% if location.underground %}
            <hr>
            {{ _('State') }}: {{ location.underground.state }}<br>
            {{ _('Length') }}: {{ _('Unknown') if location.underground.length == None else location.underground.length }} m <br>
            {% if location.underground.tools %}
            {{ _('Tools required') }}: {{ location.underground.tools }} <br>
            {% endif %}
            {{ _('Abandoned') }}: {{ _('Unknown') if location.underground.abandoned_year == None else location.underground.abandoned_year }} <br>

            {% if location.underground.materials | length %}
                {{ _('Materials') }}:
                {% for material in location.underground.materials %}
                <a href="#" class="badge bg-secondary text-decoration-none">{{ material.type }}</a>
                {% endfor %}
                <br>
            {% endif %}
        {% elif location.urbex %}
            <hr>
            {{ _('State') }}: {{ location.urbex.state }}<br>
            {{ _('Abandoned') }}: {{ _('Unknown') if location.urbex.abandoned_year == None else location.urbex.abandoned_year }} <br>
        {% endif %}
    </div>
</div>
