<div class="card content-card">
    <div class="card-header">
        {{ _('Metadata') }}
    </div>
    {% if location.photo %}
    <a href="{{ url_for('upload.get', path=location.photo.path) }}" data-toggle="lightbox" data-gallery="title">
        <img class="card-img-top" src="{{ url_for('upload.get', path=location.photo.path) }}" alt="Location title image">
    </a>
    {% else %}
    <img class="card-img-top" src="{{ url_for('static', filename='images/favicon.ico') }}" alt="Location title image">
    {% endif %}
    <div class="card-body">
        {{ _('Created') }}: {{ location.created.date() }}<br>
        {{ _('Last updated') }}: {{ location.modified.date() }}<br>
        {{ _('Maintainer') }}: <a href="{{ url_for('user.profile', id=location.owner_id) }}">{{ location.owner.first_name }} {{ location.owner.last_name }}</a><br>
        <hr>
        {{ _('State') }}: {{ location.underground.state or location.urbex.state }}</br>

        {% if location.underground %}
            {{ _('Length') }}: {{ _('Unknown') if location.underground.length == None else location.underground.length }} m <br>
            {% if location.underground.tools %}
            {{ _('Tools required') }}: {{ location.underground.tools }} <br>
            {% endif %}
            {{ _('Abandoned') }}: {{ _('Unknown') if location.underground.abandoned_year == None else location.underground.abandoned_year }} <br>

            {{ _('Materials') }}:
            {% for material in location.underground.materials %}
            <a href="#" class="badge bg-secondary text-decoration-none">{{ material.type }}</a>
            {% endfor %}
            <br>
        {% else %}
            {{ _('Abandoned') }}: {{ _('Unknown') if location.urbex.abandoned_year == None else location.urbex.abandoned_year }} <br>
        {% endif %}
    </div>
</div>
