{% set title=_('Locations') %}
{% extends '_private.html' %}
{% from '_helpers.html' import render_pagination %}

{% block content %}
{% if locations | length == 0 %}
<div class="text-center">
    <h1>{{ _('No locations are here yet, add some') }}</h1>
</div>
{% else %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
{% for location in locations %}
    <div class="col">
        <div class="card h-100 shadow">
            <a href="{{ url_for('location.show', id=location.id) }}" class="stretched-link"></a>

            {% set image_url = url_for('static', filename='images/favicon.ico') %}
            {% if location.photo %}
                {% set image_url = url_for('upload.get', path=location.photo.path) %}
            {% endif %}
            <img src="{{ image_url }}" class="card-img-top" alt="Location title image">
            <div class="card-body">
                <h4 class="card-title">
                    <a href="{{ url_for('location.show', id=location.id) }}" class="text-decoration-none link-dark"></a>{{ location.name }}</a>
                </h4>
                <p class="card-text text-muted">{{ location.description }}</p>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{{ render_pagination(pagination) }}
{% endif %}

{% endblock %}
