{% extends "_private.html" %}
{% from '_helpers.html' import render_form, link_button %}

{% block content %}

<div class="card">
    <h4 class="card-header">
        {{ _('Add document for') }} {{ location.name }}
    </h4>
    <div class="card-body">
        <form method="POST" action="" role="form" class="row">
            {{ form.hidden_tag() }}
            {{ render_form(form.name, 'pencil', placeholder=_('Document name')) }}
            {{ render_form(form.description, 'card-text', placeholder=_('Short description of the document')) }}
            {{ render_form(form.source, 'person', placeholder=_('Source of the document')) }}
            {{ render_form(form.file, 'file-earmark-text') }}

            <div class="form-group text-end">
                {{ link_button(_('Cancel'), url_for('location.show', id=location.id), None, 'danger') }}
                {{ form.submit(class="btn btn-success") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
