{% extends "_private.html" %}
{% from '_helpers.html' import render_label %}

{% block content %}

<h2>
{% if location %}
    {{ _('Edit location') }}: {{ location.name }}
    {% set return_url = url_for('location.show', id=location.id) %}
{% elif parent %}
    {{ _('Add new child for') }} {{ parent.name }}
    {% set return_url = url_for('location.show', id=parent.id) %}
{% else %}
    {{ _('Add a new location') }}
    {% set return_url = url_for('location.browse') %}
{% endif %}
</h2>

<form method="POST" action="" role="form" class="row">
    {{ form.hidden_tag() }}

    <div class="col">
        <div class="card content-card">
            <h4 class="card-header">
                {{ _('Location') }}
            </h4>
            <div class="card-body">
                <div class="form-group">
                    {{ render_label(form.name, 'pencil') }}
                    {{ form.name(class_="form-control", placeholder=_('Location name')) }}
                </div>

                <div class="form-group">
                    {{ render_label(form.description, 'card-text') }}
                    {{ form.description(class_="form-control", style="min-height: 5em", placeholder=_('Short description of the location and its current state')) }}
                    <div class="form-text">
                        {{ _('Supports markdown formatting, check the ') }}<a href="https://www.markdownguide.org/basic-syntax/">{{ _('syntax') }}</a>
                    </div>
                </div>

                <div class="form-group">
                    {{ render_label(form.about, 'file-earmark-text') }}
                    {{ form.about(class_="form-control", style="min-height: 15em", placeholder=_('Location description, history,...')) }}
                </div>

                <div class='text-end mt-2'>
                    <a href="{{ return_url }}" class="btn btn-danger">{{ _('Cancel') }}</a>
                    {{ form.submit(class="btn btn-success") }}
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 order-md-first">
        <div class="card content-card">
            <h4 class="card-header">
                {{ _('Metadata') }}
            </h4>
            <div class="card-body">
                <div class="form-group">
                    {{ render_label(form.photo, 'image', 'form-label') }}
                    {{ form.photo(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_label(form.latitude, 'geo-alt', 'form-label') }}
                    {{ form.latitude(class_="form-control", placeholder=_('50.1234N')) }}

                    {{ render_label(form.longitude, 'geo-alt', 'form-label') }}
                    {{ form.longitude(class_="form-control", placeholder=_('14.4567E')) }}

                    <div class="text-center mt-2">
                        <a href="#" class="btn btn-sm btn-secondary">
                            {{ _('Select from map') }}
                        </a>
                    </div>
                </div>
                <div class="form-group">
                    {{ render_label(form.materials, 'geo-alt', 'form-label') }}
                    {{ form.materials(class_="dselect") }}
                </div>
                <div class="form-group">
                    {{ render_label(form.area, 'geo-alt', 'form-label') }}
                    {{ form.area(class_="dselect-search") }}
                </div>
                <div class="form-group">
                    {{ render_label(form.type, 'house-door', 'form-label') }}
                    {{ form.type(class_="dselect-search") }}
                </div>
                <div class="form-group">
                    {{ render_label(form.state, 'wrench', 'form-label') }}
                    {{ form.state(class_="form-select") }}
                </div>
                <div class="form-group">
                    {{ render_label(form.length, 'signpost', 'form-label') }}
                    {{ form.length(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_label(form.abandoned, 'watch', 'form-label') }}
                    {{ form.abandoned(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_label(form.published, 'share', 'form-label me-4') }}
                    <div class="btn-group" role="group">
                        {% for subfield in form.published %}
                            {{ subfield(class_="btn-check") }}
                            {{ subfield.label(class_="btn btn-outline-success") }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}
