{% if location %}
    {% set title=_('Edit location %(name)s', name=location.name) %}
{% else %}
    {% set title=_('Add a new location') %}
{% endif %}

{% extends "_private.html" %}
{% from '_helpers.html' import render_field, render_label, link_button, markdown_description, map_modal  %}

{% set js_scripts = [
    'leaflet/leaflet.js',
    'leaflet/plugins/markercluster/leaflet.markercluster.js',
    'js/map.js',
    ]
%}

{% set stylesheets = [
    'leaflet/leaflet.css',
    'leaflet/plugins/markercluster/MarkerCluster.css',
    'leaflet/plugins/markercluster/MarkerCluster.Default.css',
    ]
%}

{% block content %}

<h2>
    {{ title }}
</h2>

<form method="POST" action="" role="form" class="row" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="col">
        <div class="card content-card">
            <h4 class="card-header">
                {{ _('Location') }}
            </h4>
            <div class="card-body">
                {{ render_field(form.name, 'pencil', placeholder=_('Location name')) }}

                {{ render_field(form.description, 'card-text', style="min-height: 5em", placeholder=_('Short description of the location and its current state'), description=markdown_description) }}
                {{ render_field(form.about, 'file-earmark-text', style="min-height: 15em", placeholder=_('Location description, history,...'), description=markdown_description) }}

                <div class='text-end mt-2'>
                    {{ link_button(_('Cancel'), Url.get_return(), None, 'danger') }}
                    {{ form.submit(class="btn btn-success") }}
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 order-md-first">
        <div class="card content-card">
            <h4 class="card-header">
                {{ _('Metadata') }}
            </h4>
            <div class="card-body">
                {{ render_field(form.photo, 'image') }}

                {{ render_field(form.latitude, 'geo-alt', placeholder=_('50.1234N')) }}
                {{ render_field(form.longitude, 'geo-alt', placeholder=_('14.4567E')) }}

                <div class="text-center mt-2 id">
                    {{ link_button(_('Current location'), 'javascript:getLocation()', None, 'secondary btn-sm')}}
                    {{ link_button(_('Select from map'), 'javascript:mapSelect()', None, 'secondary btn-sm')}}
                </div>

                {{ render_field(form.categories, 'bookmarks', field_class="dselect", required=False) }}
                {{ render_field(form.country, 'flag', field_class="dselect") }}

                {% if 'underground' in request.url or (location and location.underground) %}
                    {{ render_field(form.type, 'house-door', field_class="dselect", required=False) }}
                    {{ render_field(form.materials, 'minecart-loaded', field_class="dselect", required=False) }}
                    {{ render_field(form.state, 'wrench', field_class="dselect", required=False) }}
                    {{ render_field(form.accessibility, 'door-closed', field_class="dselect", required=False) }}
                    {{ render_field(form.length, 'signpost') }}
                    {{ render_field(form.abandoned, 'watch') }}
                    {{ render_field(form.geofond_id, 'globe2') }}
                    {{ render_field(form.tools, 'wrench') }}
                {% else %}
                    {{ render_field(form.type, 'house-door', field_class="dselect", required=False) }}
                    {{ render_field(form.state, 'wrench', field_class="dselect", required=False) }}
                    {{ render_field(form.accessibility, 'door-closed', field_class="dselect", required=False) }}
                    {{ render_field(form.abandoned, 'watch') }}
                {% endif %}

                <div class="form-group">
                    {{ render_label(form.published, 'share', 'form-label me-4') }}
                    <div class="btn-group" role="group">
                        {% for subfield in form.published %}
                            {{ subfield(class_="btn-check") }}
                            {{ subfield.label(class_="btn btn-outline-success") }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{{ map_modal(_("Select from map"), style="cursor: crosshair")}}

{% endblock %}

{% block scripts %}
{% include 'location/_from_map.html' %}
{% endblock %}
