{% set title=_('Add link') %}
{% extends "_private.html" %}
{% from '_helpers.html' import render_field, link_button %}

{% block content %}
<div class="card">
    <h4 class="card-header">
        {{ _('Add link for %(name)s', name=location.name) }}
    </h4>
    <div class="card-body">
        <form method="POST" action="" role="form">
            {{ form.hidden_tag() }}

            {{ render_field(form.url, 'link', placeholder=_('Page URL')) }}
            {{ render_field(form.name, 'card-text', placeholder=_('Description of the linked page')) }}

            <div class='text-end mt-2'>
                {{ link_button(_('Cancel'), url_return(), None, 'danger') }}
                {{ form.submit(class="btn btn-success") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
