{% set title=location.name %}
{% extends "_private.html" %}
{% from '_helpers.html' import link_button, render_field %}

{% block content %}
<div class="row justify-content-between">
    <div class="col-auto">
        <h1>
            {{ location.name }}
            {% if location.parent %}
            (<a href="{{ url_for('location.show', location_id=location.parent.id) }}">{{ location.parent.name }}</a>)
            {% endif %}
            {% if not location.published %}
            <span class="text-danger">{{ _('Not published') }}</span>
            {% endif %}
        </h1>
        <h3>{{ location.underground.type or location.urbex.type }}, {{ location.underground.accessibility or location.urbex.accessibility }}</h3>
        <small clas="text-muted">
            <i class="bi bi-geo-alt"></i>
            {{ location.latitude }} {{ location.longitude }}
        </small>
    </div>
    <div class="col-auto">
        <div class="h1">
            <div class="dropdown d-inline">
                <button href="#" class="btn btn-outline-primary m-1" id="dropdownBookmarks" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-star"></i>
                </button>
                <ul class="dropdown-menu shadow" aria-labelledby="dropdownBookmarks">
                    {% for bookmark in user_bookmarks %}
                        {% if location in bookmark.locations %}
                            {{ dropdown_link(bookmark.name, 'star-fill', url_for_return('location.bookmark_remove', bookmarks_id=bookmark.id, location_id=location.id)) }}
                        {% else %}
                            {{ dropdown_link(bookmark.name, '', url_for_return('location.bookmark_add', bookmarks_id=bookmark.id, location_id=location.id)) }}
                        {% endif %}
                    {% endfor %}
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <form method="POST", role="form" action="{{ url_for_return('location.bookmark_create', location_id=location.id) }}" class="dropdown-item d-flex align-items-center">
                            {{ bookmark_form.hidden_tag() }}
                            {{ render_field(bookmark_form.name, skip_label=True, class="mb-0", style="min-width: 7em") }}
                            {{ bookmark_form.submit(class="btn btn-success ms-2") }}
                        </form>
                    </li>
                </ul>
            </div>
            {{ link_button(_('Edit'), url_for_return('location.edit', location_id=location.id), 'pencil', 'outline-success') }}
            {{ link_button(_('Document'), url_for_return('location.document_add', location_id=location.id), 'file-earmark-plus', 'outline-success') }}
            {{ link_button(_('Photo'), url_for_return('location.photo_add', location_id=location.id), 'camera-fill', 'outline-success') }}
            {{ link_button(_('Link'), url_for_return('location.link_add', location_id=location.id), 'link', 'outline-success') }}
            <!-- TODO add parent, child -->
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card content-card">
            <div class="card-header">
                {{ _('About') }}
            </div>
            <div class="card-body">
                <div>
                    {{ location.description | markdown }}
                </div>
                {% if location.about %}
                <hr>
                <div>
                    {{ location.about | markdown }}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="d-none d-md-inline">
            {% include 'location/_gallery.html' %}
            {% include 'location/_visits.html' %}
        </div>
    </div>
    <div class="col-md-3">
        {% include 'location/_metadata.html' %}

        {% if location.children %}
        <div class="card content-card">
            <div class="card-header">
                {{ _('Related places') }}
            </div>
            <div class="list-group list-group-flush">
                {% for child in location.children %}
                <a href="#" class="list-group-item list-group-item-action">
                    <strong>{{ child.name }}</strong>
                    <p class="mb-0 text-muted text-truncate">{{ child.description }}</p>
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if location.underground.geofond_id or (location.links | length) %}
        <div class="card content-card">
            <div class="card-header">
                {{ _('Links') }}
            </div>
            <div class="list-group list-group-flush">
                {% if location.underground.geofond_id %}
                <a href="https://app.geology.cz/dud/php/foto_dd.php?id_={{ location.underground.geofond_id }}" class="list-group-item list-group-item-action">
                    <strong>{{ _('Geofond - photos') }}</strong>
                </a>
                <a href="https://mapy.geology.cz/dulni_dila_poddolovani/?query=dulni_dila_4034_0%2Cid_dd%2C{{ location.underground.geofond_id }}" class="list-group-item list-group-item-action">
                    <strong>{{ _('Geofond - info') }}</strong>
                </a>
                {% endif %}
                {% for link in location.links %}
                <div class="list-group-item list-group-item-action position-relative control-hover">
                    {{ link_button('', url_for_return('location.link_remove', link_id=link.id), 'trash', 'danger', class='btn-sm position-absolute top-0 end-0 foreground-item control-hide') }}
                    <strong>{{ link.name }}</strong>
                    <p class="mb-0 text-muted text-truncate">{{ link.url }}</p>
                    <a href="{{ link.url }}" class="stretched-link"></a>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if location.has_documents() %}
        <div class="card content-card">
            <div class="card-header">
                {{ _('Documents') }}
            </div>
            <div class="list-group list-group-flush">
                {% for item in location.uploads %}
                    {% if item.type.name not in ('PHOTO', 'HISTORICAL_PHOTO') %}
                    <div class="list-group-item list-group-item-action position-relative control-hover">
                        <div class="position-absolute top-0 end-0 foreground-item control-hide">
                            {{ link_button('', url_for_return('location.document_edit', document_id=item.id), 'pencil', 'warning', class='btn-sm') }}
                            {{ link_button('', url_for_return('location.document_remove', document_id=item.id), 'trash', 'danger', class='btn-sm') }}
                        </div>
                        <strong>{{ item.name }}</strong>
                        <p class="mb-0 text-muted">{{ item.description }}</p>
                        <a href="{{ url_for('upload.get', path=item.path) }}" class="stretched-link"></a>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <!-- TODO nasty solution, is there any way except javascript how to reorder this better?-->
        <div class="d-inline d-md-none">
            {% include 'location/_gallery.html' %}
            {% include 'location/_visits.html' %}
        </div>
    </div>
</div>



{% endblock %}
