{% extends "_private.html" %}

{% block content %}

<div class="row justify-content-between">
    <div class="col-auto">
        <h1>
            {{ location.name }}
            (<a href="#">Parent object</a>)
            <span class="text-danger">Not published</span>
        </h1>
        <h3>Mine, accessible</h3>
        <small clas="text-muted">
            <i class="bi bi-geo-alt"></i>
            12.1234E 49.2312N
        </small>
    </div>
    <div class="col-auto">
        <div class="h1">
            <a href="#" class="btn btn-outline-primary">
                <i class="bi bi-star"></i>
            </a>
            <a href="#" class="btn btn-outline-primary">
                {{ _('Show on map') }}
            </a>
            <a href="{{ url_for('location.edit', id=location.id) }}" class="btn btn-outline-success">
                {{ _('Edit') }}
            </a>
            <a href="{{ url_for('location.add_document', location_id=location.id) }}" class="btn btn-outline-success">
                {{ _('Add document') }}
            </a>
            <a href="{{ url_for('location.add_photo', location_id=location.id) }}" class="btn btn-outline-success">
                {{ _('Add photo') }}
            </a>
            <a href="{{ url_for('location.add', parent_id=location.id) }}" class="btn btn-outline-success">
                {{ _('Add children') }}
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card content-card">
            <div class="card-header">
                {{ _('About') }}
            </div>
            <div class="card-body">
                <div>
                    {{ location.description | markdown }}
                </div>
                {% if location.about %}
                <hr>
                <div>
                    {{ location.about | markdown }}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="d-none d-md-inline">
            {% include 'location/_gallery.html' %}
            {% include 'location/_visits.html' %}
        </div>
    </div>
    <div class="col-md-3">
        {% include 'location/_metadata.html' %}

        <div class="card content-card">
            <div class="card-header">
                {{ _('Related places') }}
            </div>
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action">
                    <strong>Horní štola</strong>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <strong>Spodní štola</strong>
                    <p class="mb-0 text-muted">Spodní štola byla vyražena...</p>
                </a>
            </div>
        </div>

        <div class="card content-card">
            <div class="card-header">
                {{ _('Links') }}
            </div>
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action">
                    <strong>Geofond</strong>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <strong>hornictvi.info</strong>
                    <p class="mb-0 text-muted">Location history</p>
                </a>
            </div>
        </div>

        <div class="card content-card">
            <div class="card-header">
                {{ _('Documents') }}
            </div>
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action">
                    <strong>Some document name</strong>
                    <p class="mb-0 text-muted">Some descripton of the item</p>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <strong>Some document name</strong>
                    <p class="mb-0 text-muted">Some descripton of the item</p>
                </a>
            </div>
        </div>
        <!-- TODO nasty solution, is there any way except javascript how to reorder this better?-->
        <div class="d-inline d-md-none">
            {% include 'location/_gallery.html' %}
            {% include 'location/_visits.html' %}
        </div>
    </div>
</div>



{% endblock %}
