{% set title=_('Map') %}

{% set js_scripts = [
    'leaflet/leaflet.js',
    'leaflet/plugins/markercluster/leaflet.markercluster.js',
    'js/map.js',
    ]
%}

{% set stylesheets = [
    'leaflet/leaflet.css',
    'leaflet/plugins/markercluster/MarkerCluster.css',
    'leaflet/plugins/markercluster/MarkerCluster.Default.css',
    ]
%}

{% extends "_private.html" %}

{% block content %}
<div id="map" class="h-100" style="min-height: 300px"></div>
{% endblock %}

{% block scripts %}
<script>
    var mymap = new MyMap('map')
    mymap.fetchLocations("{{ Url.get('location.api', type_str=loc_type) }}")
</script>
{% endblock %}
