{% if location %}
    {% set title=_('Add photo for %(name)s', name=location.name) %}
{% else %}
    {% set title=_('Edit photo') %}
{% endif %}

{% extends "_private.html" %}
{% from '_helpers.html' import render_field, link_button %}

{% block content %}
<div class="card">
    <h4 class="card-header">
        {{ title }}
    </h4>
    <div class="card-body">
        <form method="POST" action="" role="form" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            {{ render_field(form.name, 'pencil', placeholder=_('Photo name')) }}
            {{ render_field(form.description, 'card-text', placeholder=_('Short description of the photo')) }}
            {{ render_field(form.taken_on, 'calendar-date') }}
            {% if location %}
            {{ render_field(form.file, 'image') }}
            {% endif %}

            <div class='text-end mt-2'>
                {{ link_button(_('Cancel'), url_return(), None, 'danger') }}
                {{ form.submit(class="btn btn-success") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
