{% extends "_private.html" %}
{% from '_helpers.html' import render_label %}

{% block content %}

<div class="card">
    <h4 class="card-header">
        {{ _('Add photo for') }} {{ location.name }}
    </h4>
    <div class="card-body">
        <form method="POST" action="" role="form" class="row">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ render_label(form.name, 'pencil') }}
                {{ form.name(class_="form-control", placeholder=_('Photo name')) }}
            </div>

            <div class="form-group">
                {{ render_label(form.description, 'card-text', 'form-label') }}
                {{ form.description(class_="form-control", placeholder=_('Short description of the photo')) }}
            </div>

            <div class="form-group">
                {{ render_label(form.source, 'person', 'form-label') }}
                {{ form.source(class_="form-control", placeholder=_('Photo author')) }}
            </div>

            <div class="form-group">
                {{ render_label(form.file, 'image', 'form-label') }}
                {{ form.file(class_="form-control") }}
            </div>

            <div class="form-group text-end">
                <a href="{{ url_for('location.show', id=location.id)  }}" class="btn btn-danger">{{ _('Cancel') }}</a>
                {{ form.submit(class="btn btn-success") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
