{% set title = _('Add POI for %(name)s', name=location.name) if location else _('Edit POI') %}
{% set include_map=true %}

{% extends "_private.html" %}
{% from '_helpers.html' import render_field, link_button, map_modal %}

{% block content %}
<div class="card">
    <h4 class="card-header">
        {{ title }}
    </h4>
    <div class="card-body">
        <form method="POST" action="" role="form" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            {{ render_field(form.name, 'pencil', placeholder=_('Name')) }}
            {{ render_field(form.description, 'card-text', placeholder=_('Short description of the place')) }}
            {{ render_field(form.latitude, 'geo-alt', placeholder=_('50.1234N')) }}
            {{ render_field(form.longitude, 'geo-alt', placeholder=_('14.4567E')) }}

            <div class="text-center mt-2 id">
                {{ link_button(_('Current location'), 'javascript:getLocation()', None, 'secondary btn-sm')}}
                {% set pos_obj = location if location else poi %}
                {{ link_button(_('Select from map'), 'javascript:mapSelect('~pos_obj.latitude.value~', '~pos_obj.longitude.value~')', None, 'secondary btn-sm')}}
            </div>

            <div class='text-end mt-2'>
                {{ link_button(_('Cancel'), Url.get_return(), None, 'danger') }}
                {{ form.submit(class="btn btn-success") }}
            </div>
        </form>
    </div>
</div>

{{ map_modal(_("Select from map"), style="cursor: crosshair")}}
{% endblock %}

{% block scripts %}
{% include 'location/_from_map.html' %}
{% endblock %}
