{% set title=_('Edit profile') %}
{% extends '_private.html' %}
{% from "_helpers.html" import render_field, link_button, markdown_description %}

{% block content %}
<div class="card">
    <h4 class="card-header">
        {{ title }}
    </h4>
    <div class="card-body">
        <form method="POST" action="" role="form" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ render_field(form.about, style="min-height: 20em", placeholder=_('Write something about yourself'), description=markdown_description) }}
            {{ render_field(form.photo) }}

            <div class="mt-2 text-end">
                {{ link_button(_('Cancel'), url_for('user.profile'), color='danger') }}
                {{ form.submit(class="btn btn-success") }}
            </div>
        </form>
    </div>
</div>

{% endblock %}
