{% set title=_('Invite new user') %}
{% extends '_private.html' %}
{% from '_helpers.html' import render_field %}

{% block content %}
<div class="card">
    <h4 class="card-header">
        {{ _('Invite new user') }}
    </h4>
    <div class="card-body">
        <form method="POST" action="" role="form">
            {{ form.hidden_tag() }}
            {{ render_field(form.name, 'person', placeholder=_('Real name of the person invited')) }}
            {{ render_field(form.email, 'envelope', placeholder='name@example.com') }}
            {{ render_field(form.reason, 'pencil', placeholder=_('Why are you inviting this guy?')) }}
            <div class="mt-2 text-end">
                {{ form.submit(class="btn btn-success") }}
            </div>
        </form>
    </div>
</div>

{% endblock %}
