{% set title=_('Login') %}
{% extends "_public.html" %}
{% from "_helpers.html" import render_floating_field, render_field %}

{% block content %}
<form method="POST" action="" role="form">
    <img class="mb-2" src="{{ url_for('static', filename='images/favicon.ico') }}" alt="">
    <h1 class="h2 mb-3 fw-bold">{{ _('Hidden places') }}</h1>

    {{ form.hidden_tag() }}

    {{ render_floating_field(form.email, placeholder='name@example.com') }}
    {{ render_floating_field(form.password, placeholder=form.password.label.text) }}
    {{ render_field(form.remember_me) }}
    {{ form.submit(class_="btn btn-primary mb-3 w-100 btn-lg") }}

    <a href="{{ url_for_return('user.forgotten_password') }}">{{ _('Forgot password?') }}</a>
</form>
{% endblock %}
