{% extends "_public.html" %}
{% from "_helpers.html" import render_floating_field as render_field, render_submit %}

{% block content %}
<form method="POST" action="" role="form">
    <img class="mb-2" src="{{ url_for('static', filename='images/favicon.ico') }}" alt="">
    <h1 class="h2 mb-3 fw-bold">{{ _('Hidden places') }}</h1>

    {{ form.csrf_token }}

    {{ render_field(form.email, placeholder='name@example.com') }}
    {{ render_field(form.password, placeholder=_('Password')) }}
    {{ render_field(form.remember_me) }}
    {{ render_submit(form.submit, class="mb-3 w-100 btn-lg") }}

    <a href="{{ url_for('user.reset_password') }}">{{ _('Forgot password?') }}</a>
</form>
{% endblock %}
