{% set title=user %}
{% extends "_private.html" %}
{% from "_helpers.html" import link_button %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="text-end m-3">
            {% if user == current_user %}
                {{ link_button(_('Edit'), Url.for_return('user.edit'), color='outline-success') }}
                {{ link_button(_('Change email'), Url.for_return('user.change_email'), color='outline-warning') }}
                {{ link_button(_('Change password'), Url.for_return('user.change_password'), color='outline-success') }}
            {% else %}
                {{ link_button(_('Send message'), Url.get('message.write', user_id=user.id), color='outline-primary') }}
            {% endif %}
            <!-- Admin section -->
            {{ link_button(_('Ban'), Url.for_return('user.ban', user_id=user.id), color='outline-danger') }}
            {{ link_button(_('Set role'), Url.for_return('user.role', user_id=user.id), color='outline-danger') }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 mb-2">
        <div class="card">
            {% set image_url = Url.get('static', filename='images/person_placeholder.png') %}
            {% if user.photo_path %}
                {% set image_url = Url.get('upload.get', path=user.photo_path) %}
            {% endif %}
            <img class="card-img-top" src="{{ image_url }}" alt="Profile photo">
            <div class="row card-body">
                <div class="col">
                    <h3 class="card-title">{{ user }}</h3>
                    {{ _('Created') }}: {{ user.created.date() }}<br>
                    {{ _('Last seen') }}: {{ user.last_seen.date() }}<br>

                    <!-- Todo images -->

                    <!-- Admin section -->
                    {% if current_user.has_moderator_rights() %}
                        {{ _('Visits') }}: <a href="{{ Url.get('location.visited_by_user', user_id=user.id) }}" class="badge bg-success">{{ visits }}</a><br>
                        {{ _('Locations') }}: <a href="{{ Url.get('location.by_user', user_id=user.id) }}" class="badge bg-success">{{ locations }}</a><br>

                        {{ _('Email') }}: {{ user.email }}<br>
                        {{ _('Status') }}:
                            {% if user.banned %} <span class="badge bg-danger">{{ _("Banned") }}</span>
                            {% elif not user.active %} <span class="badge bg-warning">{{ _("Inactive") }}</span>
                            {% else %} <span class="badge bg-success">{{ _("Active") }}</span>
                            {% endif %}<br>
                        {{ _('Role') }}: <span class="badge bg-secondary">{{ user.role }}</span><br>

                        {% if user.invitation %}
                        {{ _('Invited by' )}}: <a href="{{ Url.get('user.profile', user_id=user.invitation.invited_by_id) }}">{{ user.invitation.invited_by }}</a><br>
                        {% endif %}

                        {% if user.invited | length %}
                            {{ _('Invited') }}:
                            <ul>
                            {% for invite in user.invited %}
                                {% if invite.user_id %}
                                <li>
                                    <a href="{{ Url.get('user.profile', user_id=invite.user_id) }}">{{ invite.user }}</a>
                                </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                {{ _('About') }}
            </div>
            <div class="card-body">
                {% if user.about %}
                    {{ user.about | markdown }}
                {% else %}
                    {{ _('Write something about youself') }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
