{% set title=user.first_name+" "+user.last_name %}
{% extends "_private.html" %}
{% from "_helpers.html" import link_button %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="text-end m-3">
            <a href="#" class="btn btn-outline-primary">
                {{ _('Send message') }}
            </a>

            {{ link_button(_('Edit'), url_for('user.edit'), color='outline-success') }}
            {{ link_button(_('Change password'), url_for('user.change_password'), color='outline-success') }}
            <!-- Admin section -->
            {{ link_button(_('Ban'), url_for('user.ban', user_id=user.id), color='outline-danger') }}
            {{ link_button(_('Set role'), url_for('user.role', user_id=user.id), color='outline-danger') }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 mb-2">
        <div class="card">
            <div class="row card-body">
                <img class="p-0 col-5 col-xl-12" src="{{ url_for('static', filename='images/person_placeholder.png') }}" alt="Profile photo">
                <div class="col">
                    <h3 class="card-title">{{ user.first_name }} {{ user.last_name }}</h3>
                    {{ _('Created') }}: {{ user.created.date() }}<br>
                    {{ _('Last seen') }}: {{ user.last_seen.date() }}<br>

                    <!-- Todo images -->
                    <a href="#" class="badge bg-success">{{ visits | length }}</a>{{ _('Visits') }}<br/>
                    <a href="#" class="badge bg-success">{{ locations | length }}</a>{{ _('Locations') }}<br>

                    <!-- Admin section -->
                    {{ user.email }}<br>
                    {{ _('Status') }}: {{ _("Active") if user.active else _("Banned") }}<br>
                    {{ _('Role') }}: Admin<br>
                    {{ _('Invited by' )}}: <a href="#">Foo bar</a><br>
                    {{ _('Invited') }}:
                    <div class="list-group">
                        <a href="#" class="text-center list-group-item list-group-item-action">Name Surname</a>
                        <a href="#" class="text-center list-group-item list-group-item-action">Name Surname</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header text-end">
                {{ _('About') }}
            </div>
            <div class="card-body">
                {% if user.about %}
                    {{ user.about | markdown }}
                {% else %}
                    {{ _('Write something about youself') }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
