{% set title=_('Register new user') %}
{% extends "_public.html" %}
{% from "_helpers.html" import render_floating_field, render_field %}

{% block content %}
{% if form.errors|length == 0 %}
<script>
    window.onload = function(){
        var modal = new bootstrap.Modal(document.getElementById('rulesModal'))
        modal.show()
    }
</script>
{% endif %}

<div class="modal fade" id="rulesModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="rulesModalTitle">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" if="rulesModalTitle">{{ rules.title }}</h2>
            </div>
            <div class="modal-body">
                {{ rules.text | markdown if rules else _("No rules defined!") }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                    {{ _('Understood') }}
                </button>
            </div>
        </div>
    </div>
</div>

<form method="POST" action="" role="form">
    <img class="mb-2" src="{{ Url.get('static', filename='images/logo.png') }}" alt="" style="height: 150px">
    <h1 class="mb-3 fw-bold">{{ _('Hidden places') }}</h1>
    <h3 class="mb-3 fw-bold">{{ title }}</h3>

    {{ form.hidden_tag() }}

    {{ render_floating_field(form.first_name, placeholder=form.first_name.label.text) }}
    {{ render_floating_field(form.last_name, placeholder=form.last_name.label.text) }}
    {{ render_floating_field(form.email, placeholder='name@example.com', class="mb-4") }}
    {{ render_floating_field(form.password, placeholder=form.password.label.text) }}
    {{ render_floating_field(form.confirm, placeholder=form.confirm.label.text) }}
    {% set rules_btn = '<a data-bs-toggle="modal" href="#rulesModal" role="button">' | safe %}
    {% set rules_btn = rules_btn+_('Page rules')+'</a>' | safe %}
    {{ render_field(form.rules_agree, label=_('I will follow the %(rules)s', rules=rules_btn)) }}
    {{ form.submit(class_="btn btn-primary mb-3 w-100 btn-lg") }}

    <a href="{{ Url.get('user.login') }}">{{_('Log In')}}</a>
</form>
{% endblock %}
