{% set title=_('Change role for %(user)s', user=user) %}
{% extends '_private.html' %}
{% from '_helpers.html' import render_label, render_field, link_button %}

{% block content %}
<div class="card">
    <h4 class="card-header">
        {{ title }}
    </h4>
    <div class="card-body">
        <form method="POST" action="" role="form">
            {{ form.hidden_tag() }}
            {{ render_field(form.role, 'unlock', field_class="dselect", required=False) }}

            <div class="mt-2 text-end">
                {{ link_button(_('Cancel'), url_return(), None, 'danger') }}
                {{ form.submit(class="btn btn-success") }}
            </div>
        </form>
    </div>
</div>

{% endblock %}
