{% from '_helpers.html' import link_button %}

{% if object.has_photos() %}
<div class="card content-card">
    <div class="card-header">
        {{ _('Gallery') }}
    </div>
    <div class="card-body row gallery">
        {% for image in object.uploads %}
            {% if image.type.name in ('PHOTO', 'HISTORICAL_PHOTO') and not image == object.photo %}
            <div class="col-sm-6 col-xl-4">
                <div class="position-relative control-hover mb-2">
                    <div class="control-hide">
                        {{ link_button('', Url.for_return('upload.photo_edit', photo_id=image.id), 'pencil', 'warning', class='btn-sm position-absolute top-0 start-0') }}
                        {{ link_button('', Url.for_return('upload.remove', upload_id=image.id), 'trash', 'danger', class='btn-sm position-absolute top-0 end-0') }}
                    </div>

                    <a href="{{ Url.get('upload.get', path=image.path) }}"
                       data-caption="<b>{{ image.created_by }}: {{ image.name }}</b>{% if image.description %}<br>{{ image.description }}{% endif %}" >
                        <img src="{{ Url.get('upload.get', path=image.thumbnail) }}" alt="{{ image.name }}" style="width: 100%; height: 200px; object-fit: cover;">
                        <div class="image-caption d-flex justify-content-between">
                            <span class="text-truncate">{{ image.name }}</span>
                            {{ moment(image.created).format('L') }}
                        </div>
                    </a>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
