{% extends '_private.html' %}
{% from '_helpers.html' import render_pagination, card_count, link_button %}

{% block content %}
<div class="row">
    {{ card_count(_('Waiting'), waiting, 'shield', 'text-warning', Url.get('admin.invitations', state='waiting')) }}
    {{ card_count(_('Approved'), approved, 'check-lg', 'text-success', Url.get('admin.invitations', state='approved')) }}
    {{ card_count(_('Denied'), denied, 'x-lg', 'text-danger', Url.get('admin.invitations', state='denied')) }}
    {{ card_count(_('Registered'), registered, 'person', 'text-primary', Url.get('admin.invitations', state='registered')) }}
</div>

<div class="card">
    <div class="card-header">
        <h3>{{ title }}</h3>
    </div>
    <div class="card-body pb-0">
        <table class="table">
            <thead class="bg-light">
                <tr>
                    <th scope="col">{{ _('Inviter') }}</th>
                    <th scope="col">{{ _('Name') }}</th>
                    <th scope="col">{{ _('State') }}</th>
                    <th scope="col">{{ _('Description') }}</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="align-middle">
                {% for invite in invitations %}
                <tr>
                    <td><a href="{{ Url.get('user.profile', user_id=invite.invited_by_id) }}">{{ invite.invited_by }}</a></td>
                    {% if invite.state.name == 'REGISTERED' %}
                    <td><a href="{{ Url.get('user.profile', user_id=invite.user_id)}}">{{ invite.user }}</a></td>
                    {% else %}
                    <td>{{ invite.name }}</td>
                    {% endif %}

                    {% if invite.state.name == 'WAITING' %}<td class="text-warning">
                    {% elif invite.state.name == 'APPROVED' %}<td class="text-primary">
                    {% elif invite.state.name == 'REGISTERED' %}<td class="text-success">
                    {% elif invite.state.name == 'TIMED_OUT' %}<td class="text-warning">
                    {% else %}<td class="text-danger">{% endif %}
                        {{ invite.state }}
                    </td>
                    <td>{{ invite.reason }}</td>
                    <td class="text-end">
                        {% if invite.state.name in ('WAITING', 'DENIED') %}{{ link_button(_('Approve'), Url.for_return('admin.invite_approve', invite_id=invite.id), 'check-lg', 'warning') }}{% endif %}
                        {% if invite.state.name in ('WAITING', 'APPROVED') %}{{ link_button(_('Deny'), Url.for_return('admin.invite_deny', invite_id=invite.id), 'x-lg', 'danger') }}{% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {{ render_pagination(pagination) }}
    </div>
</div>

{% endblock %}
