{% set title=_("Logins log") %}
{% extends '_private.html' %}
{% from '_helpers.html' import render_pagination, card_count, link_button %}

{% block content %}
<div class="row">
    {{ card_count(_('Failed'), failed, 'shield', 'text-danger') }}
    {{ card_count(_('Unique IPs'), unique, 'share', 'text-success') }}
    {{ card_count(_('Day'), per_day, 'clock', 'text-success') }}
    {{ card_count(_('Month'), per_month, 'calendar', 'text-success') }}
</div>

<div class="card">
    <div class="card-header">
        <h3>{{ title }}</h3>
    </div>
    <div class="card-body pb-0">
        <table class="table">
            <thead class="bg-light">
                <tr>
                    <th scope="col">{{ _('Time') }}</th>
                    <th scope="col">{{ _('IP') }}</th>
                    <th scope="col">{{ _('Location') }}</th>
                    <th scope="col">{{ _('System') }}</th>
                    <th scope="col">{{ _('Browser') }}</th>
                    <th scope="col">{{ _('Email') }}</th>
                    <th scope="col">{{ _('Result') }}</th>
                </tr>
            </thead>
            <tbody class="align-middle">
                {% for login in logins %}
                {% if login.result.name == 'SUCCESS' %}
                    {% set state = _('Success') %}
                    <tr class="table-success">
                {% elif login.result.name == 'BANNED' %}
                    {% set state = _('Banned') %}
                    <tr class="table-secondary">
                {% elif login.result.name == 'INVALID_EMAIL' %}
                    {% set state = _('Invalid email') %}
                    <tr class="table-danger">
                {% elif login.result.name == 'INVALID_PASSWORD' %}
                    {% set state = _('Invalid password') %}
                    <tr class="table-warning">
                {% else %}
                    {% set state = _('Not active') %}
                    <tr class="table-secondary">
                {% endif %}
                    <td>{{ login.timestamp }}</td>
                    <td>{{ login.ip }} </td>
                    <td>{{ login.country }}</td>
                    <td>{{ login.system }}</td>
                    <td>{{ login.browser }}</td>
                    {% if login.user_id %}
                    <td><a href="{{ url_for('user.profile', user_id=login.user_id) }}">{{ login.email }}</a></td>
                    {% else %}
                    <td>{{ login.email }}</td>
                    {% endif %}
                    <td>{{ state }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {{ render_pagination() }}
    </div>
</div>

{% endblock %}
