{% extends '_private.html' %}
{% from '_helpers.html' import render_pagination, card_count, link_button %}

{% block content %}
<div class="row">
    {{ card_count(_('All'), attempts, 'clock', 'text-success', url_for('admin.logins')) }}
    {{ card_count(_('Failed'), failed, 'shield', 'text-danger', url_for('admin.logins', login_type='failed')) }}
    {{ card_count(_('Unique IPs'), unique, 'share', 'text-success', url_for('admin.logins', login_type='unique')) }}
    {{ card_count(_('Month'), per_month, 'calendar', 'text-success') }}
</div>

<div class="card">
    <div class="card-header">
        <h3>{{ title }}</h3>
    </div>
    <div class="card-body pb-0">
        <table class="table">
            <thead class="bg-light">
                <tr>
                    <th scope="col">{{ _('Time') }}</th>
                    <th scope="col">{{ _('IP') }}</th>
                    <th scope="col">{{ _('Location') }}</th>
                    <th scope="col">{{ _('System') }}</th>
                    <th scope="col">{{ _('Browser') }}</th>
                    <th scope="col">{{ _('Email') }}</th>
                    <th scope="col">{{ _('Result') }}</th>
                </tr>
            </thead>
            <tbody class="align-middle">
                {% for login in logins %}
                {% if login.result.name == 'SUCCESS' %}
                    <tr class="table-success">
                {% elif login.result.name == 'BANNED' %}
                    <tr class="table-secondary">
                {% elif login.result.name == 'INVALID_EMAIL' %}
                    <tr class="table-danger">
                {% elif login.result.name == 'INVALID_PASSWORD' %}
                    <tr class="table-warning">
                {% else %}
                    <tr class="table-secondary">
                {% endif %}
                    <td>{{ login.timestamp }}</td>
                    <td>{{ login.ip }} </td>
                    <td>{{ login.country }}</td>
                    <td>{{ login.system }}</td>
                    <td>{{ login.browser }}</td>
                    {% if login.user_id is not none %}
                    <td><a href="{{ url_for('user.profile', user_id=login.user_id) }}">{{ login.email }}</a></td>
                    {% else %}
                    <td>{{ login.email }}</td>
                    {% endif %}
                    <td>{{ login.result }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {{ render_pagination(pagination) }}
    </div>
</div>

{% endblock %}
