{% extends '_private.html' %}
{% from '_helpers.html' import render_pagination, card_count, link_button %}

{% block content %}
<div class="row">
    {{ card_count(_('Users'), users_count, 'person', 'text-success', Url.get('admin.users')) }}
    {{ card_count(_('Admins'), admins_count, 'gear', 'text-warning', Url.get('admin.users', role='admins')) }}
    {{ card_count(_('Moderators'), moderators_count, 'chat-left-text', 'text-primary', Url.get('admin.users', role='moderators')) }}
    {{ card_count(_('Bans'), bans_count, 'exclamation-triangle', 'text-danger', Url.get('admin.users', role='bans')) }}
</div>

<div class="card">
    <div class="card-header">
        <h3>{{ title }}</h3>
    </div>
    <div class="card-body pb-0">
        <table class="table">
            <thead class="bg-light">
                <tr>
                    <th scope="col">{{ _('Created') }}</th>
                    <th scope="col">{{ _('Name') }}</th>
                    <th scope="col">{{ _('Invited by') }}</th>
                    <th scope="col">{{ _('Seen') }}</th>
                    <th scope="col">{{ _('Role') }}</th>
                    <th scope="col">{{ _('State') }}</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="align-middle">
            {% for user in users %}
                <tr>
                    <td>{{ moment(user.created).calendar() }}</td>
                    <td>{{ user }}</td>
                    {% if user.invitation %}
                    <td><a href="{{ Url.get('user.profile', user_id=user.invitation.invited_by.id) }}">{{ user.invitation.invited_by }}</a></td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    <td>{{ moment(user.last_seen).fromNow() }}</td>
                    <td>
                        {% if user.role.name in ("ROOT, ADMIN") %}<span class="badge bg-danger">
                        {% elif user.role.name == "MODERATOR" %}<span class="badge bg-primary">
                        {% elif user.role.name == "NEWBIE" %}<span class="badge bg-secondary">
                        {% else %}<span class="badge bg-success">
                        {% endif %}
                        {{ user.role }}</span>
                    </td>
                    <td>
                        {% if user.banned %} <span class="badge bg-danger">{{ _("Banned") }}</span>
                        {% elif not user.active %} <span class="badge bg-warning">{{ _("Inactive") }}</span>
                        {% else %} <span class="badge bg-success">{{ _("Active") }}</span>
                        {% endif %}
                    </td>
                    <td class="text-end">
                        {{ link_button('', Url.get('user.profile', user_id=user.id), 'eye', 'success') }}
                        {{ link_button(_('Role'), Url.get('user.role', user_id=user.id), 'unlock', 'warning') }}
                        {{ link_button(_('Ban'), Url.get('user.ban', user_id=user.id), 'exclamation-triangle', 'danger') }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ render_pagination(pagination) }}
    </div>
</div>

{% endblock %}
