{% extends '_private.html' %}
{% from "_helpers.html" import render_field, link_button, markdown_description %}

{% block content %}
<div class="card content-card">
    <h2 class="card-header">{{ _('Edit page %(name)s', name=title) }}</h2>
    <div class="card-body">
        <form method="POST" action="" role="form" method="POST">
            {{ form.hidden_tag() }}
            {{ render_field(form.text, style="min-height: 30em", placeholder=_('Page content'), description=markdown_description) }}

            <div class="mt-2 text-end">
                {{ link_button(_('Cancel'), url_for('user.profile'), color='danger') }}
                {{ form.submit(class="btn btn-success") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
